/* Horizontal Orientation - presi remote *
 portrait: 601x881; landscape: 962x529 */

body {
	background: white;
	font-family: Verdana;
	margin: 0;
	padding: 0;
	outline: 1px solid silver;
}

#container  {
	left: 0;
	top: 0;
	width: 962px;
	height: 529px;
}



/*button panel */

#button_panel{
	display: inline-block;
	background-color:rgba(255,0,0,0.5);
	
	height: 100%;
	width: 18%;

	text-align: center;
}

#preview {
	display: block;
	height: 90%;
	width: 100%;
	background-color: green;
	margin: 2px;
	overflow: scroll;
	overflow-x: hidden;
}
/* left_panel style */

#left_panel {
	display: inline-block;
	background-color: yellow;
	text-align: center;
	height: 100%;
	width: 20%;
}

#timer {
	display: block;
	text-align: center;
	background-color: red;
	vertical-align: center;
	font-size: 1.2em;
	height: 10%;
}

#slide_status {
	display: inline-block;
	text-align: center;
	background-color: grey;
	vertical-align: center;
	font-size: 1.2em;
	padding: 5%;
	float: right;
}

/* center_container styles go here */

#center_container {
	display: inline-block;
	height: 100%;
	width: 60%;
	background-color: orange;
}

#slide_container {
	display: block;
	height: 70%;
	width: 100%;
	background-color: blue;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#notes_container {
	display: none;
	height: 30%;
	width: 100%;
	background-color: grey;
}

#grid_button {
	position: absolute;
	left: 800px;
	top: 50px;
}
#play_pause {
	position: absolute;
	left: 800px;
	top: 150px;
}
#settings_button {
	position: absolute;
	left: 800px;
	top: 250px;
}

#annotation_button {
	position: absolute;
	left: 800px;
	top: 350px;
}


	


#preview img {
	border: 1px solid black;
	width: 65px;
	margin: 1px;
}