/* Vertical Orientation - presi remote *
portrait: 601x881; landscape: 962x529 */

body {
	background: white;
	font-family: Verdana;
	margin: 0;
	padding: 0;
	outline: 1px solid silver;
}

#container  {
	left: 0;
	top: 0;
	width: 960px;
	height: 440px;
	position: absolute;
	overflow: hidden;
}

.spacer {
	height: 1%;
}

/* hideable button panel */

#button_panel{
	background-color: rgba(7, 7, 7, 0.71);
	position: absolute;
	height: 100%;
	width: 15%;
	text-align: center;
	border: 1px solid black;
	z-index: 100;
}

/* top_panel style */

#top_panel {
	display: block;
	position:absolute;
	text-align: center;
	height: 10%;
	width: 15%;
	z-index: 200;
}

#timer {
	display: block;
	text-align: center;
	background-color: #555550;
	vertical-align: center;
	font-size: 1.2em;
	border: 1px solid black;
	padding: 5%;
	height: 50%;
}

#slide_status {
	display: block;
	text-align: center;
	background-color: #555550;
	vertical-align: center;
	font-size: 1.2em;
	border: 1px solid black;
	padding: 5%;
	height: 50%;
}

#grid_button {
	
}

#annotation_button {

}

/* center_container styles go here */

#center_container {
	display: block;
	position: absolute;
	height: 100%;
	width: 70%;
	top:0;
	left: 15%;
	background-color: #1F1209;
}

#slide_container {
	display: block;
	height: 100%;
	background-color: #1F1209;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}


#notes_container {
	display: block;
	height: 0%;
	background-color: grey;
}

#preview {
	display: block;
	background-color: #555550;
	margin: 2px;
	width: 15%;
	height: 100%;
	float: right;
	overflow: scroll;
	overflow-x: hidden;
}

#list-container {
	height: 100%;
	width: 100%;
	position: relative;
}

#preview ul {
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
	margin: 0;
}

#preview li {
	display: block;
	padding: 0;
	margin: 1%;
}

#preview ul img {	
	border: 1px solid black;
	height: 65px;
	margin: 1px;
}

/* Styles for the hideable grid - view go here */
#grid-view-container {
	display: none;
	width: 960px;
	height: 440px;
	/*background-color: red;*/
	position: fixed;
	z-index: 10000;
	overflow: scroll;
	overflow-x: hidden;
}

#grid-image-container {
	display: block;
	height: 95%;
}

.grid-image {
	border: 1px solid black;
	width: 120px;
	margin: 2px;
}

#grid-view-navigate {
	display:none;
	height: 5%;
	width: 100%;
	/*background-color: green;*/
}

#play_pause {
	position: absolute;
	top:120px;
	left: 10px;
}
#grid_button {
	position: absolute;
	top:210px;
	left: 10px;
}
#annotation_button {
	position: absolute;
	top:300px;
	left: 10px;
}
#settings_button {
	position: absolute;
	top:390px;
	left: 10px;
}