/* Vertical Orientation - presi remote *
 portrait: 601x881; landscape: 962x529 */

body {
	background: white;
	font-family: Verdana;
	margin: 0;
	padding: 0;
	outline: 1px solid silver;
}

#container  {
	left: 0;
	top: 0;
	width: 600px;
	height: 880px;
	position: absolute;
	overflow: hidden;
}

.spacer {
	height: 1%;
}

/* top_panel style */

#top_panel {
	display: block;
	background-color: yellow;
	text-align: center;
	height: 10%;
}

#timer {
	display: inline-block;
	text-align: center;
	background-color: red;
	vertical-align: center;
	font-size: 1.2em;
	padding: 5%;
}

#slide_status {
	display: inline-block;
	text-align: center;
	background-color: grey;
	vertical-align: center;
	font-size: 1.2em;
	padding: 5%;
}

#grid_button {
	
}

#annotation_button {

}

/* center_container styles go here */

#center_container {
	display: block;
	height: 55%;
	background-color: orange;
}

#slide_container {
	display: block;
	height: 70%;
	background-color: blue;
	margin: 2px;
}

#notes_container {
	display: block;
	height: 29%;
	background-color: grey;
	margin: 2px;
}

#preview_slides {
	display: block;
	height: 7.5%;
	background-color: green;
}