/* Vertical Orientation - presi remote *
portrait: 601x881; landscape: 962x529 */

body {
	background: white;
	font-family: Verdana;
	margin: 0;
	padding: 0;
	outline: 1px solid silver;
}

#container  {
	left: 0;
	top: 0;
	width: 600px;
	height: 880px;
	position: absolute;
	overflow: hidden;
}

.spacer {
	height: 1%;
}

/* hideable button panel */

#button_panel{
	background-color: rgba(49, 43, 43, 0.73);
	display: block;
	position:absolute;
	height: 86px;
	width: 600px;
	position: fixed;
	top:0;
	left: 0;
	text-align: center;
	z-index: 10000;
}

/* top_panel style */

#top_panel {
	display: block;
	text-align: center;
	background-color: #555550;
	height: 10%;
	width: 100%;
}

#timer {
	display: inline-block;
	text-align: center;
	background-color: #555550;
	vertical-align: center;
	font-size: 1.2em;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5%;
}

#slide_status {
	display: inline-block;
	text-align: center;
	background-color: #555550;
	background-size: 100%
	vertical-align: center;
	font-size: 1.2em;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5%;
}

#settings_button {
	background-image:url('../icons/settings.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 50px;
}

#play_pause {
	background-image:url('../icons/play.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 50px;
}

#grid_button {
	background-image:url('../icons/grid.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 50px;
}

#annotation_button {
	background-image:url('../icons/annotation.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 50px;

}

/* center_container styles go here */

#center_container {
	display: block;
	height: 50%;
	width: 100%;
}

#slide_container {
	display: block;
	height: 98%;
	background-color: #1F1209;
	margin: 2px;
	padding: 2px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

#notes_container {
	display: none;
	height: 35%;
	background-color: grey;
	margin: 2px;
}

#preview {
	display: block;
	background-color: #555550;
	margin: 2px;
	overflow: scroll;
}

#list-container {
	height: 8%;
	width: 500px;
	margin-top: 5px;
	position: relative;
}

#preview ul {
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
	margin: 0;
}

#preview li {
	display: inline-block;
	padding: 0;
	margin: 0;
}

#preview ul img {	
	border: 1px solid black;
	width: 65px;
	margin: 1px;
}

/* Styles for the hideable grid - view go here */
#grid-view-container {
	display: none;
	width: 600px;
	height: 880px;
	background-color: #1F1209;
	position: fixed;
	z-index: 10000;
	overflow: scroll;
}

#grid-image-container {
	display: block;
	height: 93%;
}

.grid-image {
	border: 1px solid black;
	width: 120px;
	margin: 2px;
}

#grid-view-navigate {
	display:none;
	height: 7%;
	width: 100%;
	background-color: #555550;
}

/* Styles for settings view go here */
#grid-view-container {
	display: none;
	width: 600px;
	height: 880px;
	background-color: #1F1209;
	position: fixed;
	z-index: 10000;
	overflow: scroll;
}

#settings-view-navigate {
	padding: 2px;
	display:none;
	height: 7%;
	width: 100%;
	background-color: #555550;
}